#tailwindLazyLoadImgDiv{
    background-size: cover;
    
}

#tailwindLazyLoadImg{
    width: 100%;
    display: block;
    object-fit: cover;
    
}


#tailwindLazyLoadImgDiv > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}
#tailwindLazyLoadImgDiv.imageHasBeenLoaded > img{
    opacity: 1;
}